@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
}
#root{
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  width: 100vw;
  height: 100vh;
}
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}